:root {
    --general-text: #111111;
    --background-main: #FFFFFF;
    --alternate-background: #DDDDDD;
    --accent-color: #C5358C;
    --accent-color-2: #F8F8F8;
    --alternate--text: #ABABAB;
    --transition: all .4s;
    --border--radius: 3px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5vw;
}

.body {
    color: var(--general-text);
    background: var(--accent-color-2);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title {
    font-family: "NAMU", sans-serif;
    font-weight: 900;
}

/* ==================== */

.burger-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    z-index: 110;
    position: relative;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    position: absolute;
    left: 50%;
    background: var(--background-main);
    transition: var(--transition);
}

.burger-icon span {
    top: 50%;
    transform: translate(-50%, -50%);
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
    left: 0;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    top: 8px;
}

.burger-icon:hover span,
.burger-icon:hover span::before,
.burger-icon:hover span::after {
    background: var(--accent-color);
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: translateY(100%) rotate(40deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: translateY(-100%) rotate(-40deg);
}

/* ================= */