:root {
  --general-color: #111;
  --accent-color: #c5358c;
  --accent-bg: #fff;
  --accent-bg-2: #f8f8f8;
  --transition: all 0.4s;
}

.body{
    background-color: #dddddd;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 10px 20px;
  width: 235px;
  height: 64px;
  background: #4d57c8;
  font-weight: 400;
  font-size: 24px;
  color: var(--accent-bg);
  font-family: "Open Sans";
  transition: var(--transition);
}

.main__discount{
    padding-top: 111px;
}
.main__howto{
    padding-top: 122px;
}
.main__multistyler {
    padding-top: 32px;
}