.header{
    background-color: var(--general-color);
    color: var(--accent-bg);
    font-family: 'NAMU';
    font-weight: normal;
    padding-top: 18px;
    padding-bottom: 19px;
    line-height: 1.5;
    font-size: 16px;
    flex-wrap: nowrap;
}

.header__inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.header__burger{
    display: block;
    margin-right: 25px;
    width: 50px;
    height: 50px;
}

.header__nav{
    display: flex;
    flex-wrap: nowrap;
    gap:20px;
    margin-right: 114px;
    width: auto;
}
.header__nav-item{
    white-space: nowrap;
}
.header__logo{
    display: block;
    margin-right: 32px;
}

.header__logo img{
    width: 100%;
}

.header__action{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 20px;
    font-weight: 600;
    white-space: nowrap;
}

.header__localization,
.header__bag{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
}
