@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";

.main__intro {
  padding-top: 64px;
}
.intro__inner {
  display: grid;
  grid-template-columns: minmax(740px, 1.2fr) minmax(611px, 0.7fr);
  gap: 18px;
}
.intro__about {
  align-self: center;
  padding-bottom: 80px;
  text-align: left;
}
.intro__title {
  font-family: "NAMU";
  font-weight: 900;
  font-size: 43px;
  line-height: 1.1;
  margin-bottom: 40px;
}
.intro__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  min-width: 670px;
}

/* ===================== */
.main__discount {
  background-color: var(--general-color);
  color: var(--accent-bg);
  font-family: "NAMU";
}
.discount__inner {
  display: grid;
  grid-template-columns: 0.6fr 1.2fr;
  gap: 20px;
}
.discount__title {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  font-family: "Open Sans";
  margin-bottom: 20px;
}
.discount__text {
  font-weight: 400;
  font-size: 42px;
  line-height: 110%;
  margin-bottom: 50px;
}
.discount__text p {
  font-size: 64px;
}
.discount__text span {
  color: #4d57c8;
}
.discount__button {
  margin-bottom: 111px;
}
.discount__img {
  background: url(../img/decor/banner-discount-bg.png) 0% -60% / cover no-repeat;
  overflow: hidden;
  position: relative;
}
.discount__img::before {
  position: absolute;
  content: url(../img/decor/banner-discount-bg-bag.png);
  display: block;
  top: 15%;
  left: 0%;
}
.howto__inner {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  gap: 20px;
  grid-auto-rows: min-content;
}
.howto__img {
  overflow: hidden;
  position: relative;
}
.howto__img img {
  object-fit: cover;
  transform: translate(1%, 0%);
}
.howto__img-button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 84px;
  border: 2px solid var(--general-color);
  border-radius: 50%;
  position: absolute;
  top: 38%;
  right: 4%;
}
.howto__img-button img {
  padding-left: 8.8%;
}
.howto__about {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 124px;
  height: auto;
}
.howto__title {
  font-weight: 590;
  font-size: 42px;
  line-height: 1.1;
  font-family: "NAMU";
  margin-bottom: 40px;
}
.howto__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  font-family: "Open Sans";
  max-width: 650px;
}

.black {
  height: 794px;
  background: var(--general-color);
}

/* =================================== */

.main__multistyler {
  font-family: "NAMU";
}
.multistyler__inner {
  display: flex;
  flex-direction: row;
  gap: 118px;
  justify-content: center;
}
.multistyler__about {
}
.multistyler__title {
  margin: 80px 0 10px;
  font-weight: 400;
  font-size: 26px;
  flex-wrap: nowrap;
}
.multistyler__intro {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  font-family: "Open Sans";
  margin-bottom: 37px;
}
.multistyler__colors {
  font-weight: 400;
  font-size: 42px;
  line-height: 1.1;
  margin-bottom: 60px;
}
.multistyler__colors p:last-child {
  color: #4d57c8;
}
.multistyler__colors span{
    color: #cd8885;  
}

/* =============== */
.main__special {
    background: #f8f8f8;
    font-family: "Open Sans";
}
.special__inner {
    display: flex;
    flex-direction: column;
}
.special__title {
    margin-top: 150px;
}
.special__action {
}
.action__tags {
}
.tags__list {
}
.tags__item {
}
.tags__link {
}
.tags__more {
}
.filter__action {
}
.filter-select {
}
