main{
    background-color:#57898a;
    max-width: 1100px;
    max-height: 500px;
    overflow: auto;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.card{
    box-sizing: border-box;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: #b3b89a ;
    border-radius: 25px;
    margin: 5px 10px 10px 5px;
    padding: 10px;
    box-shadow: inset 0px 0px 10px 4px #495049;
}